{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{{ govukCheckboxes({
    id: question.id,
    name: question.id,
    items: question.options,
    errorMessage: errors[question.id] 
}) }}