{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{{ govukCheckboxes({
    id: question.id,
    name: question.id,
    hint: question.hint,
    fieldset: question.fieldset,
    items: question.items,
    errorMessage: errors[question.id],
    values: userData[question.id]
}) }}