{# dynamic-form.njk #}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<form action="/submit-form" method="post">
  {% for question in questions %}
    {% if question.type == 'text' %}
      {{ govukInput({
        label: {
          text: question.label
        },
        id: question.id,
        name: question.id,
        value: data[question.id],
        errorMessage: errors[question.id] ? { text: errors[question.id] } : undefined
      }) }}
    {% elif question.type == 'checkbox' %}
      {{ govukCheckboxes({
        idPrefix: question.id,
        name: question.id,
        items: question.options.map(option => {
          return {
            value: option.value,
            text: option.text,
            checked: data[question.id] ? data[question.id].includes(option.value) : false
          }
        }),
        errorMessage: errors[question.id] ? { text: errors[question.id] } : undefined
      }) }}
    {# Add other input types and corresponding GOV.UK macros #}
    {% endif %}
  {% endfor %}
  {{ govukButton({
    text: "Submit"
  }) }}


</form>