{% extends 'layout.njk' %}
{% set pageTitle = "Who's Medal are you applying for?" %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">You cannot complete this application</h1>
            <p class="govuk-body">
                You must have left active service to apply for your medals.
            </p>
            <p class="govuk-body">
                If you are still serving, apply through your unit's HR department.
            </p>
        </div>
    </div>
{% endblock %}